* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#wrapper {
    display: flex;
    height: calc(100vh - 90px);
    background-color: green;
}

/* Inizio aside */
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90px;
    padding: 20px;
    flex-shrink: 0;
    text-align: center;
    background-color: #000000c7;
}

aside .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    color: white;
}

aside .logo > i {
    font-size: 40px;
}

aside .logo h2 {
    display: none;
    position: relative;
    margin-left: 5px;
    font-size: 25px;
}

aside .logo h2 i {
    font-size: 5px;
    position: absolute;
    top: 10px;
}

aside ul {
    list-style-type: none;
}

aside a {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: grey;
}

aside a:hover * {
    color: white;
}

aside h5 {
    display: none;
    color: grey;
}

aside a .icon i {
    display: block;
}

aside .main-menu {
    margin-bottom: 40px;
}

aside .main-menu ul li:not(:last-child) {
    margin-bottom: 20px;
}

aside a .icon {
    width: 50px;
    font-size: 25px;
}

aside .main-menu a:hover::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    left: 0;
    background-color: #43da43;
    height: 30px;
}

aside .recently-played-menu ul {
    margin-top: 10px;
}

aside .bottom .install {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

aside .bottom .install .icon {
    font-size: 18px;
}
/* Fine aside */

/* Inizio main */
main {
    flex-grow: 1;
    overflow: auto;
    background-color: orange;
}
/* Fine main */

nav {
    height: 60px;
    background-color: blue;
}

section {
    padding-top: 60px;
}

footer {
    height: 90px;
    background-color: red;
}

@media screen and (min-width: 768px) {
    aside {
        width: 230px;
        text-align: left;
    }

    aside .logo {
        justify-content: flex-start;
    }

    aside .logo h2 {
        display: inline-block;
    }

    aside h5 {
        display: block;
    }

    aside a {
        justify-content: flex-start;
    }
}
